[Desktop Entry]
Name=Selene
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=artemis
Icon=artemis
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
